.covid-chart-summary,
.covid-chart-count-by-country,
.covid-chart-count-by-countries {
  --chart-width: 100%;
  @apply min-w-full overflow-auto;
  height: calc(100vh - 12rem);
  width: var(--chart-width);
  @screen md {
    max-height: 600px;
  }
}